:root {
  --background: #fff;
  --background-down: #dedede;
  --primary: #000;
  --secondary: #000;
  --link: rgb(47, 101, 252);
  --error: #ff0000;
  --frame: #59503d;
  --border: rgb(229, 232, 235);
  --lines: #e4e7f0;
  --card-border: 1px solid var(--lines);
  --shadow-island: 0 1px 5px rgba(0, 0, 0, 0.15);
  --shadow-island-hover: 0 1px 10px rgba(0, 0, 0, 0.15);
  --connected: #00ff37;
  --disconnected: #ff0000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
